<script src="https://unpkg.com/vue@3"></script>

{% raw %}
<div id="app">
  <h1 style="text-align:center">DNS Server Admin</h1>
  <form @submit.prevent="onSubmit">
    <label>QTYPE:</label>
    <select v-model="qtype">
      <option v-for="item in qtypes" :value="item">{{item}}</option>
    </select>

    <label>QNAME:</label>
    <input v-model="qname">

    <label>CONTENT:</label>
    <input v-model="content">

    <label>TTL:</label>
    <input v-model="ttl">

    <input type="submit" value="ADD"/>
  </form>
  <hr>
  <table id="recordsTable">
    <tr>
      <th>Qtype</th>
      <th>Qname</th>
      <th>Content</th>
      <th>TTL</th>
      <th></th>
    </tr>
    <tr v-for="record in records" :key="id">
      <td>{{record.qtype}}</td>
      <td>{{record.qname}}</td>
      <td>{{record.content}}</td>
      <td>{{record.ttl}}</td>
      <td style="text-align:center"><button @click="deleteRecord(record)">Delete</button>
    </tr>
  </table>
</div>
{% endraw %}

<style>
  body {
    font-family: arial, sans-serif;
  }

  table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 70%;
  }

  table, th, td {
    border: 1px solid;
  }

  form {
    display: flex;
    justify-content: center;
  }

  label, input {
    margin: 0 0.5rem;
  }
</style>

<script>
  const { createApp } = Vue

  createApp({
      data() {
          return {
              records: [],
              qtypes: ["A", "SOA"],
              qtype: "A",
              qname: "",
              content: "",
              ttl: "",
            }
      },
      methods: {
          cleanForm(){
              this.qtype = ""
              this.qname = ""
              this.content = ""
              this.ttl = ""

          },
          deleteRecord(record){
              const requestOptions = {
                  method: "DELETE"
              }

              fetch("/records/" + record.id, requestOptions)
                .then(response => response.json())
                .then(data => (this.getRecords()));
          },
          getRecords(){
              fetch("/records/")
                .then(response => response.json())
                .then(data => (this.records = data))
          },
          onSubmit(){
              const payload = {
                  qtype: this.qtype,
                  qname: this.qname,
                  content: this.content,
                  ttl: this.ttl
              }
              const requestOptions = {
                  method: "POST",
                  headers: { "Content-Type": "application/json" },
                  body: JSON.stringify(payload)
              }

              fetch("/records/", requestOptions)
                .then(response => response.json())
                .then(data => (this.getRecords()))
                .then(this.cleanForm())
            },
      },
      mounted() {
          this.getRecords()
      }
    }).mount('#app')
</script>
